<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="unittest">
      <directory>tests/Upscheme</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/Tasks</directory>
    </testsuite>
  </testsuites>
</phpunit>
